/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1296x (Smaller desktops) */
/**************************/
@media (max-width: 81em) {
  header,
  section,
  .footer-content {
    max-width: 110rem;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.5%;
  }

  header,
  section,
  .footer-content {
    max-width: 100rem;
  }

  .grid-3-cols {
    column-gap: 6rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6.4rem;
  }

  .hero {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 8rem;
    row-gap: 6.4rem;
  }

  .hero-img {
    width: 65%;
    margin: 0 auto;
  }

  .header-text-box {
    text-align: center;
  }

  section,
  .footer-content {
    padding: 0 8rem;
  }

  .testimonial img {
    display: none;
  }

  .testimonial-box {
    grid-column: 1/-1;
  }

  .footer {
    padding: 6rem 0;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid-3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .seciton-features {
    text-align: center;
  }
}
