/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: #087f5b;
}

/* ------------------ */
/* GENERAL STYLES */
/* ------------------ */

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

img {
  width: 100%;
  border-radius: 1.2rem;
}

header,
section {
  margin-bottom: 9.6rem !important;
}

header,
section,
.footer-content {
  max-width: 110rem;
  margin: 0 auto;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
  letter-spacing: -0.5px;
}

.heading-tertiary {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;

  font-weight: 500;
  background-color: #087f5b;
  color: #fff;

  border-radius: 10rem;
  display: inline-block;
  transition: all 0.25s;
}

.btn--big {
  font-size: 1.8rem;
  padding: 1.6rem 3rem;
}

.btn--small {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

/* --------------------- */
/* COMPONENT STYLES */
/* --------------------- */

/* HEADER */
.nav {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav-links li a:link,
.nav-links li a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.2s;
}

.nav-links li a:hover {
  color: #087f5b;
}

.logo {
  font-weight: 700;
  font-size: 2.25rem;
  cursor: pointer;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6rem;
  column-gap: 8rem;
}

.header-text-box {
  align-self: center;
}

.hero h1 {
  font-size: 4.4rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3.2rem;
}

.hero .header-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 2.4rem;
}

/* FEATURES */
.features-icon {
  stroke: #087f5b;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 2.4rem;
}

.features-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
  background-color: #087f5b;
  color: #fff;
  padding: 2.4rem;
  border-radius: 1.2rem;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
.testimonial-text {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #e6fcf5;
  margin-bottom: 2.4rem;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #c3fae8;
}

/* CARDS */
.card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
}

.card-img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-body {
  padding: 3.2rem;
}

.chair-details {
  list-style: none;
  margin-bottom: 4.8rem;
}

.chair-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #087f5b;
}

.chair-details li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

/* FOOTER */
.footer {
  width: 100%;
  display: inline-block;
  font-size: 1.5rem;
  background-color: #343a40;
  color: #fff;
  margin-top: 6rem;
}

.footer-content {
  padding: 4.8rem 0;
}

.horizontal-line {
  border-bottom: 1px solid #555;
  display: block;
  margin: 2rem 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul a:link,
.footer-links ul a:visited {
  text-decoration: none;
  color: #aaa;
}

.footer-nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 6rem;
}

.footer-icon {
  font-size: 1.8rem;
  color: #ccc;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.contact-info .label {
  text-transform: uppercase;
  color: #087f5b;
  font-weight: 600;
  font-size: 1.2rem;
}

.footer-copyright {
  text-align: center;
  font-size: 1.3rem;
  color: #aaa;
}
